{
  "parser": "babel-eslint",
  "extends": "pagarme-react",
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "max-len": [
      "error",
      {
        "code": 80
      }
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react/jsx-filename-extension": 0,
    "react/jsx-no-bind": [
      2,
      {
        "ignoreRefs": true,
        "allowBind": true
      }
    ]
  }
}